@charset "utf-8";

#wrap {
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.05);
}
.gnbBg {
  background-color: #fff;
}

.logo {
  width: 200px;
}
.logo > a {
}
.logo > a > img {
  width: 200px;
  height: 100px;
}

.gnb {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.gnb > li {
}
.gnb > li > a {
  color: #fff;
}

.liveReservation {
  width: 200px;
  color: #fff;
}

/*visual start*/
#visual {
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-theme-color {
  color: #fff;
}

/*visual end*/

/*footer start*/
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.footerWrap {
  margin: 0 35vh;
}
.info {
  width: 1200px;
  padding: 40px 0;
}
.info > p {
  line-height: 2;
  color: #404040;
  font-size: 18px;
}
.info > p > span {
  font-weight: bolder;
}
.sns {
  width: 130px;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.sns > li {
  /* border: 1px solid #404040;
  border-radius: 50%;
  background-color: #404040; */
}

.insta > a > i {
  font-size: 30px;
}
.sns > li > a > i {
}

.hr {
  width: 1600px;
}

/*footer end*/

.gnb01Contents {
  height: 800px;
  padding-top: 80px;
}
